{% load i18n %}
{% load static %}
    <link rel="stylesheet"  href="{% static 'eserSite/css/custom.css' %}">
	<link rel="stylesheet"  href="{% static 'eserSite/css/teacher_cours.css' %}">
    <link rel="stylesheet"  href="{% static 'eserSite/css/themify-icons.css' %}">
{% block mainPage %}
    <!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

 <!-- Сектор для курсов-->
<section id="content">
			<div class="content-wrap p-0" style="overflow: visible;">
				<div class="section topmargin-lg parallax" >
					<div class="container">
						<div class="heading-block border-bottom-0 mb-5 center">
							<h3>{%trans 'Okuwyň aýratynlyklary!'%}</h3>
						</div>

						<div class="clear"></div>
						<h3>{%trans 'Rus dili çagalar üçin 3 aý'%}</h3>
						<hr>
						<div class="row mt-2">
							{% for rus_little in rus_little%}
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect border-0">
									<a href="#"><img class="card-img-top" src="../../../media/{{rus_little.course_images}}" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title font-weight-bold mb-2"><a href="#">{{rus_little.course_title}}</a></h4>
										<p class="mb-2 card-title-sub text-uppercase font-weight-normal ls1"><a href="#" class="text-black-50">{{rus_little.category.category}}</a></p>
										<p class="card-text text-black-50 mb-1">{{rus_little.course_description}}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
                        <h3>{%trans 'Ulylar we çagalar üçin rus dili'%}</h3>
						<hr>
						<div class="row mt-2">
							{% for rus_big in rus_big%}
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect border-0">
									<a href="#"><img class="card-img-top" src="../../../media/{{rus_big.course_images}}" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title font-weight-bold mb-2"><a href="#">{{rus_big.course_title}}</a></h4>
										<p class="mb-2 card-title-sub text-uppercase font-weight-normal ls1"><a href="#" class="text-black-50">{{rus_big.category.category}}</a></p>
										<p class="card-text text-black-50 mb-1">{{rus_big.course_description}}</p>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
</section>
{% endblock %}