.section {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #F9F9F9;
	overflow: hidden;
}

.parallax {
	background-color: transparent;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	overflow: hidden;
	will-change: transform;
}
.section .container { z-index: 2; }

.section .container + .video-wrap { z-index: 1; }

.revealer-image {
	position: relative;
	bottom: -100px;
	transition: bottom .3s ease-in-out;
	-webkit-transition: bottom .3s ease-in-out;
	-o-transition: bottom .3s ease-in-out;
}

.section:hover .revealer-image { bottom: -50px; }

.heading-block { margin-bottom: 50px; }

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
}

.emphasis-title h1,
.emphasis-title h2 {
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

.heading-block h1 { font-size: 32px; }

.heading-block h2 { font-size: 30px; }

.heading-block h3 { font-size: 1.75rem; }

.heading-block h4 {
	font-size: 1.25rem;
	font-weight: 700;
}

.heading-block > span:not(.before-heading) {
	display: block;
	margin-top: 10px;
	font-weight: 300;
	color: #777;
}

.heading-block .before-heading { margin-bottom: 7px; }

.heading-block.center > span,
.heading-block.text-center > span,
.center .heading-block > span,
.text-center .heading-block > span {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.heading-block h1 + span { font-size: 1.5rem; }

.heading-block h2 + span { font-size: 1.25rem; }

.heading-block h3 + span,
.heading-block h4 + span { font-size: 1.25rem; }

.heading-block::after {
	content: '';
	display: block;
	margin-top: 30px;
	width: 40px;
	border-top: 2px solid #444;
}

.center .heading-block::after,
.text-center .heading-block::after,
.heading-block.center::after,
.heading-block.text-center::after { margin: 30px auto 0; }

.text-right .heading-block,
.heading-block.text-right,
.heading-block.title-right { direction: rtl; }

.heading-block.border-0::after,
.heading-block.border-bottom-0::after { display: none; }

.heading-block.border-color::after { border-color: #1ABC9C; }

.heading-block.border-bottom-0::after { display: none; }

.center { text-align: center !important; }

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

.feature-box {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.feature-box:first-child { margin-top: 0; }

.hover-effect {
	-webkit-transition:  transform .25s ease, box-shadow .3s ease;
	-o-transition:  transform .25s ease, box-shadow .3s ease;
	transition:  transform .25s ease, box-shadow .3s ease;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	box-shadow: none;
	border: 0;
}

.hover-effect:hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.fbox-center {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.fbox-center .fbox-icon {
	margin-bottom: 1.5rem;
}

.fbox-center {
	-ms-flex-preferred-size: auto;
}
.fbox-effect .fbox-icon i {
	-webkit-transition: background-color 0.3s, color 0.3s;
	-o-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}

.fbox-effect .fbox-icon i::after {
	top: -3px;
	left: -3px;
	padding: 3px;
	box-shadow: 0 0 0 2px white;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.3s, opacity 0.3s;
	transform: scale(.8);
	opacity: 0;
}

.fbox-effect .fbox-icon i:hover,
.fbox-effect:hover .fbox-icon i {
	background-color: #333;
	color: #FFF;
}

.fbox-effect.fbox-dark .fbox-icon i::after { box-shadow: 0 0 0 2px #1ABC9C; }

.fbox-effect.fbox-dark .fbox-icon i:hover,
.fbox-effect.fbox-dark:hover .fbox-icon i { background-color: #1ABC9C; }

.fbox-effect .fbox-icon i:hover::after,
.fbox-effect:hover .fbox-icon i::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.instructors {
    background-color: transparent !important;
}

.single-product .fbox-plain.fbox-sm .fbox-icon {
	width: 2.25rem;
}

.single-product .fbox-plain.fbox-sm .fbox-icon i {
	font-size: 1.125rem;
	line-height: 1.5;
}

.fbox-center.fbox-sep:not(.fbox-bg) h3::after {
	content: '';
	display: block;
	margin: 1.25rem auto;
	width: 2rem;
	height: 2px;
	background-color: #555;
	-webkit-transition: width .3s ease;
	-o-transition: width .3s ease;
	transition: width .3s ease;
}

.fbox-center.fbox-sep:not(.fbox-bg):hover h3::after { width: 3rem; }

.fbox-center.fbox-italic p {
	font-style: italic;
	font-family: 'Lato', sans-serif;
}

.fbox-bg.fbox-center {
	margin-top: 2rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0 2rem 2rem;
	border: 2px solid white;
	border-radius: 5px;
}

.fbox-bg.fbox-center .fbox-icon {
	margin-top: -2rem;
}

.fbox-bg.fbox-center .fbox-icon { background-color: #FFF; }


.fbox-bg.fbox-center.fbox-lg {
	margin-top: 3rem;
}

.fbox-bg.fbox-center.fbox-lg .fbox-icon {
	margin-top: -3rem;
}

.fbox-bg.fbox-center.fbox-xl {
	margin-top: 4rem;
}

.fbox-bg.fbox-center.fbox-xl .fbox-icon {
	margin-top: -4rem;
}

.fbox-lg .fbox-icon {
	width: 7.5rem;
	height: 6rem;
}

.fbox-lg .fbox-icon i {
	font-size: 2.5rem;
	line-height: 6rem;
}
.fbox-icon a,
.fbox-icon i,
.fbox-icon img {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #FFF;
}

.fbox-icon i,
.fbox-icon img {
	border-radius: 50%;
	background-color: #1ABC9C;
}

.fbox-icon i {
	font-style: normal;
	font-size: 1.75rem;
	line-height: 4rem;
	text-align: center;
}

.fbox-outline .fbox-icon a {
	border: 1px solid #1ABC9C;
	padding: 0.25rem;
	border-radius: 50%;
}

.fbox-outline .fbox-icon i {
	line-height: 3.5rem;
}

.fbox-rounded .fbox-icon { border-radius: 3px !important; }
.fbox-rounded .fbox-icon i,
.fbox-rounded .fbox-icon img { border-radius: 3px !important; }

.fbox-effect .fbox-icon i { z-index: 1; }

.fbox-effect .fbox-icon i::after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.bg-transparent {
    background: linear-gradient(to bottom, #d0dfff, #B0E0E6)
}



.fbox-effect .fbox-icon i:hover,
.fbox-effect:hover .fbox-icon i {
	background-color: #333;
	color: #FFF;
}



.fbox-content {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
	padding: 0 0.75rem;
}
.fbox-content p {
	margin-top: 0.5rem;
	margin-bottom: 0px;
	color: black;
}


/*cours*/


.content-wrap .header-stick { margin-top: -5rem !important; }
.content-wrap .footer-stick { margin-bottom: -5rem !important; }

.content-wrap {
	position: relative;
	padding: 80px 0;
	overflow: hidden;
}

.op-0,
.h-op-0:hover {
	opacity: 0 !important;
}

.op-01,
.h-op-01:hover {
	opacity: 0.1 !important;
}

.section .container { z-index: 2; }

.section .container + .video-wrap { z-index: 1; }

.section:hover .revealer-image { bottom: -50px; }

.section > .testimonial {
	padding: 0;
	background-color: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	max-width: 800px;
	margin: 0 auto;
}
.section > .testimonial[data-animation="fade"] { padding: 0; }

.section > .testimonial .testi-content { font-size: 1.25rem; }

.section > .testimonial .testi-meta,
.section > .testimonial .testi-meta span { font-size: 0.875rem; }

.fbox-content h3 span.subtitle {
	display: block;
	margin-top: 5px;
	color: #444;
	font-weight: 300;
	text-transform: none;
}

.topmargin-lg { margin-top: 5rem !important; }

.single-event .entry-overlay,
.parallax .entry-overlay-meta {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.85);
	text-align: center;
	line-height: 80px;
	font-size: 1.25rem;
	color: #FFF;
	z-index: 5;
}

.single-event .event-meta .iconlist li,
.parallax .iconlist li { margin: 5px 0; }


.parallax .entry-overlay,
.parallax .entry-overlay-meta {
	background: transparent;
	width: auto;
	text-align: right;
	bottom: 30px;
	left: auto;
	right: 30px;
}

.parallax .entry-overlay-meta {
	padding: 20px;
	font-size: 0.875rem;
	text-align: left;
	right: 38px;
	bottom: 130px;
	width: 368px;
	height: auto;
	line-height: inherit;
	background-color: rgba(0,0,0,0.7);
	border-radius: 3px;
}
.parallax.overlay-left .entry-overlay,
.parallax.overlay-left .entry-overlay-meta {
	right: auto;
	left: 30px;
}



.parallax.overlay-left .entry-overlay-meta { left: 38px; }

@media (max-width: 575.98px) {
	.parallax .entry-overlay-meta,
	.parallax .entry-overlay {
		left: 0 !important;
		right: 0 !important;
		width: 90%;
		margin: 0 auto;
	}
}

.parallax.overlay-center .entry-overlay,
.parallax.overlay-center .entry-overlay-meta {
	bottom: 100px;
	right: auto;
	left: 50%;
	margin-left: -192px;
}

.parallax.overlay-center .entry-overlay-meta {
	top: 100px;
	bottom: auto;
	margin-left: -184px;
}

.parallax .entry-overlay-meta h2 {
	font-size: 1.25rem;
	text-transform: uppercase;
	border-bottom: 1px dashed rgba(255,255,255,0.2);
	padding-bottom: 17px;
}

.parallax .entry-overlay-meta h2 a { color: #FFF; }

.parallax .entry-overlay-meta h2 a:hover { color: #DDD; }

.parallax .countdown { top: 0; }

.parallax .countdown-section {
	border-left: 0;
	width: 80px;
	height: 80px;
	margin: 0 8px;
	font-size: 13px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 3px;
	padding-top: 14px;
}

.parallax .countdown-amount {
	font-size: 28px;
	margin-bottom: 6px;
}


